<div [@fadeInOut]="'in'">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Edit Men</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" value="{{manInfo.name}}" placeholder="enter name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="status">Status</label>
				<select [(ngModel)]="manInfo.status" class="form-control" id="status">
                  <option value="1">{{1 | AppPipeStatus}}</option>
                  <option value="0">{{0 | AppPipeStatus}}</option>
                </select>
			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>