<div [@fadeInOut]="'in'">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Edit Men</strong>
        </div>
		<form [formGroup]="manForm" class="card-form form-horizontal">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Userame</label>
				  <input type="text" formControlName="username" class="form-control" id="username" placeholder="enter username" />
                </div>
              </div>
            </div>
			<div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Firstname</label>
				  <input type="text" formControlName="firstname" class="form-control" id="firstname" placeholder="enter firstname" />
                </div>
              </div>
            </div>
			<div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Lastname</label>
				  <input type="text" formControlName="lastname" class="form-control" id="lastname" placeholder="enter lastname" />
                </div>
              </div>
            </div>
			<div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="date_added">Date Added</label>
				  <input type="text" formControlName="dateAdded" class="form-control" id="date-added" placeholder="enter date added" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="status">Status</label>
				  <select formControlName="status" class="form-control" id="status">
                    <option value="1">{{1 | AppPipeStatus}}</option>
                    <option value="0">{{0 | AppPipeStatus}}</option>
                  </select>
			    </div>
              </div>
            </div>
          </div>
		  <div class="card-footer">
            <button type="button" class="btn btn-sm btn-primary" (click)="saveMenInfo()"><i class="fa fa-dot-circle-o"></i>Save</button>
            <button type="reset" class="btn btn-sm btn-danger" (click)="closeEdit()"><i class="fa fa-ban"></i>Return</button>
          </div>
		</form>
      </div>
    </div>
  </div>
</div>