<div class="animated fadeIn" *ngIf="showListFlag">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Male List
		  <span type="button" class="badge badge-secondary" (click)="showAdd()">add Male</span>
		</div>
        <div class="card-body">
		  <table class="table">
		    <thead>
			  <tr>
			    <th>Name</th>
			    <th>Date Added</th>
			    <th>Status</th>
				<th>Action</th>
			  </tr>
		    </thead>
		    <tbody>
			  <tr *ngFor="let man of male">
			    <td>{{man.username}}</td>
			    <td>{{man.dateAdded}}</td>
			    <td>
				  <span *ngIf="man.status == 1" class="badge badge-success">Active</span>
				  <span *ngIf="man.status == 0" class="badge badge-secondary">Inactive</span>				
				</td>
				<td>
				  <button type="button" class="btn btn-sm btn-primary btn-edit" (click)="showEdit(man.maleId)">edit</button>
				</td>
			  </tr>
		    </tbody>
		  </table>
		  <div>
		    <app-pagination [paginationOptions]="paginationOptions"></app-pagination>
		    <!--<button type="button" class="btn btn-sm btn-primary btn-add" (click)="showAdd()">add man</button>-->
          </div>
        </div>
	  </div>
    </div>
  </div>
</div>
<div *ngIf="showEditFlag">
  <male-edit [manId]="selectedManId" (closeEditFlag)="closeEdit($event)"></male-edit>
</div>
<div *ngIf="showAddFlag">
  <male-add (closeAddFlag)="closeAdd($event)"></male-add>
</div>


