<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Men List</div>
        <div class="card-body">
		  <table class="table">
		    <thead>
			  <tr>
			    <th>Name</th>
			    <th>Date Added</th>
			    <th>Status</th>
			  </tr>
		    </thead>
		    <tbody>
			  <tr *ngFor="let result of menList">
			    <td>{{result.name}}</td>
			    <td>{{result.date_added}}</td>
			    <td>
				  <span *ngIf="result.status == 1" class="badge badge-success">Active</span>
				  <span *ngIf="result.status == 0" class="badge badge-secondary">Inactive</span>				
				</td>
			  </tr>
		    </tbody>
		  </table>
		  <ul class="pagination">
		    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
		    <li class="page-item active"><a class="page-link" href="#">1</a></li>
		    <li class="page-item"><a class="page-link" href="#">2</a></li>
		    <li class="page-item"><a class="page-link" href="#">3</a></li>
		    <li class="page-item"><a class="page-link" href="#">4</a></li>
		    <li class="page-item"><a class="page-link" href="#">Next</a></li>
		  </ul>
        </div>
      </div>
    </div>
  </div>
</div>

